/*
https://www.colorcodepicker.com/
À partir de hero.jpg

Dominant Color
HEX: #acc366

Color Scheme Palette
HEX: #d8d7c9
HEX: #37463e
HEX: #a0be51
HEX: #c6d593
HEX: #9d4453
HEX: #f2b051
HEX: #91783f
HEX: #6e9844
HEX: #b0ac11
HEX: #c4dc74

*/
:root {
  --green: #acc366;
  --primary: #9d4453;
  --secondary: #37473e;
  --white: white;

  font-size: 1.1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: Luciole;
  font-weight: 400;
  font-style: normal;
  src: local("Luciole Regular"), local("Luciole-Regular"),
    url(/static/fonts/luciole/Luciole-Regular.woff2) format("woff2"),
    url(/static/fonts/luciole/Luciole-Regular.woff) format("woff");
}
@font-face {
  font-family: Luciole;
  font-weight: 400;
  font-style: italic;
  src: local("Luciole Italic"), local("Luciole-Italic"),
    url(/static/fonts/luciole/Luciole-Italic.woff2) format("woff2"),
    url(/static/fonts/luciole/Luciole-Italic.woff) format("woff");
}
@font-face {
  font-family: Luciole;
  font-weight: 600;
  font-style: normal;
  src: local("Luciole Bold"), local("Luciole-Bold"),
    url(/static/fonts/luciole/Luciole-Bold.woff2) format("woff2"),
    url(/static/fonts/luciole/Luciole-Bold.woff) format("woff");
}
@font-face {
  font-family: Luciole;
  font-weight: 600;
  font-style: italic;
  src: local("Luciole Bold Italic"), local("Luciole-BoldItalic"),
    url(/static/fonts/luciole/Luciole-BoldItalic.woff2) format("woff2"),
    url(/static/fonts/luciole/Luciole-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: luciole-regular;
  src: url(/static/fonts/luciole/Luciole-Regular.woff);
}
.test-style-regular {
  font-family: luciole-regular;
}
@font-face {
  font-family: luciole-italic;
  src: url(/static/fonts/luciole/Luciole-Italic.woff);
}
.test-style-italic {
  font-family: luciole-italic;
}
@font-face {
  font-family: luciole-bold;
  src: url(/static/fonts/luciole/Luciole-Bold.woff);
}
.test-style-bold {
  font-family: luciole-bold;
}
@font-face {
  font-family: luciole-bold-italic;
  src: url(/static/fonts/luciole/Luciole-BoldItalic.woff);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Luciole, Georgia, "Times New Roman", Times, serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--white);
}

main {
  max-width: 37.5em;
}

ul,
p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: var(--primary);
  text-decoration-skip-ink: auto;
}

header nav,
main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
  margin-bottom: 1em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

main img {
  max-width: 100%;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

ul {
  padding: 0;
  list-style: circle inside;
}

/* Header Logo (style as h2) */
header {
  padding-top: 0;
}
header > em {
  margin: 0;
}

.hero {
  box-shadow: 0 0 5px 5px var(--green);
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  header > em {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Header Nav */
header nav {
  padding-top: 0.5em;
}
header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href],
header nav li a[href]:visited {
  color: var(--secondary);
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--white);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.3rem;
  }
}
