<form name="contact" method="POST" netlify>
  <label for="nom">Nom</label>
  <input type="text" name="nom" id="nom" autocomplete="name" placeholder="Jean Dupont" title="Veuillez saisir votre nom" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="jean.dupont@exemple.fr" title="Le domaine de l’adresse email est invalide (la partie après le @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Je vous contacte au sujet de …" rows="7" required></textarea>
  <button type="submit" name="submit">Envoyer le message</button>
</form>
